*{
    margin: 50px auto;
    box-sizing: border-box;
}
body{
    background-color: #EEEEEE;
}
#clock{
    width: 300px;
    height: 300px;
    border-radius: 100%;
    text-align: center;
    position: relative;
    background-color: black;
    border: 5px solid orange;
}
.num{
    text-align: center;
    border-radius: 100%;
    width: 20px;
    color: wheat;
}
#po1
{
    position: absolute;
    top: -50px;
    left: 135px;

}
#po2
{
    position: absolute;
    top: -32px;
    right: 67px;
}
#po3{
    position: absolute;
    right: 18px;
    top: 18px;
}
#po4{
    
    position: absolute;
    top: 85px;
    right: -1px;
}
#po5
{
    position: absolute;
    bottom: 17px;
    right: 17px;
}
#po6{
    
    position: absolute;
    bottom: -33px;
    right: 67px;
}
#po7{
    position: absolute;
    bottom: -50px;
    left: 135px;
}
#po8{
    position: absolute;
    bottom: -32px;
    left: 67px;
}
#po9{
    
    position: absolute;
    bottom: 17px;
    left: 17px;
}
#po10{
    position: absolute;
    top: 85px;
    left: -1px;
}
#po11{
    
    position: absolute;
    left: 18px;
    top: 18px;
}
#po12{
    position: absolute;
    top: -32px;
    left: 67px;
}
#con{
    position: absolute;
    bottom: 30px;
    left: 90px;
    font-style: oblique;
    font-weight: bold;
    color: rgb(255, 22, 22);
}
#sec{
    width: 20px;
    position: absolute;
    top: -45px;
    left: 144px;
    height: 140px;
    width: 0px;
    border-left: 2px solid rgb(255, 0, 0);
    transform-origin: bottom;
    transform: rotateZ(360deg);
}
#min{
    
    width: 20px;
    position: absolute;
    top: -25px;
    left: 143px;
    height: 120px;
    width: 0px;
    border-left: 4px solid white;
    transform-origin: bottom;
}
#hr{
    width: 20px;
    position: absolute;
    top: -5px;
    left: 142px;
    height: 100px;
    width: 0px;
    border-left: 6px solid white;
    transform-origin: bottom;
}
#center{
    background-color: rgb(255, 0, 0);
    width: 10px;
    height: 10px;
    position: absolute;
    top: 90px;
    left: 140px;
    border-radius: 100%;

}